*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;

}

option{
    color: rgb(14, 14, 15);

}

label{
    color: white;
    font-size: 18px;
    text-align: center;

}
.registration{
    margin: auto;
    width: 48%;
    text-align: center;
    color: white;
    background: rgb(0, 0,0,0.5);
    padding: 15px;
    border: 2px solid white;
    margin-top: 43px;
    border-radius: 7%;
}
h2{
    padding: 5px;
}

::placeholder{
    color: rgb(245, 238, 238);
}

.btn btn-primary{
    width: 150px;
    padding: 5px;
    font-size: 18px;
    border: none;
    outline:1px solid white;
    border-radius: 15%;
    background: none;
    color: white;
}
#sub:hover{
    background: rgb(81, 161, 236);
}
#first_name{
    width: 31%;
    padding: 5px 21px 6px 8px;
    border-radius: 5px;
    border:1px solid white;
    outline: 0ch;
    font-size: 18;
    background: none;
    align-content: center;
    color: white;
    margin-left:7px;

}
#last_name{
    width: 31%;
    padding: 5px 21px 6px 8px;
    border-radius: 5px;
    border:1px solid white;
    outline: 0ch;
    font-size: 18;
    background: none;
    align-content: center;
    color: white;
    margin-left:7px;
}
#username{
    width: 31%;
    padding: 5px 21px 6px 8px;
    border-radius: 5px;
    border:1px solid white;
    outline: 0ch;
    font-size: 18;
    background: none;
    align-content: center;
    color: white;
    margin-left:7px;
}
#email{
    width: 31%;
    padding: 5px 21px 6px 8px;
    border-radius: 5px;
    border:1px solid white;
    outline: 0ch;
    font-size: 18;
    background: none;
    align-content: center;
    color: white;
    margin-left:7px;
}
#password{
    width: 31%;
    padding: 5px 21px 6px 8px;
    border-radius: 5px;
    border:1px solid white;
    outline: 0ch;
    font-size: 18;
    background: none;
    align-content: center;
    color: white;
    margin-left:149px;
}
#confirmpass{
    width: 32%;
    padding: 5px 21px 6px 8px;
    border-radius: 5px;
    border:1px solid white;
    outline: 0ch;
    font-size: 18;
    background: none;
    align-content: center;
    color: white;
    margin-left: 81px;
}
#sub{
  width: 150px;
  padding: 5px;
  font-size: 18px;
  border: none;
  outline:1px solid white;
  border-radius: 5px;
  background: none;
  color: white;
}